# Unity
Temp/
Library/
Builds/
Logs/
UserSettings/
MemoryCaptures/
obj/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity auto generated
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
.DS_Store
*.booproj
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Rider
.idea/

# VS Code
.vscode/

# Visual Studio
.vs/